html {
  scroll-behavior: smooth;
}
:target {
  scroll-margin-top: 7rem;
}

body {
  margin: 0px;
  font-family: "Urbanist", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* container */
.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  @include screen(notebook-m) {
    padding: 0 60px;
  }
  margin-left: auto;
  margin-right: auto;
}

// transição fade in
.transition-element {
  transform: translateY(20px);
  opacity: 0;
  transition: 1s ease;
}

.transition-element--visible {
  transform: translateY(0);
  opacity: 1;
}

// transição inicio
.transition-inicio {
  animation-name: fade-in;
  animation-duration: 1s;
  @include screen(tablet) {
    animation-name: fade-in-tablet;
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-tablet {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(-50%);
    opacity: 1;
  }
}

.whatsapp {
  position: fixed;
  background-color: $w;
  top: calc(100vh - 20px - (16 * 2px) - 30px);
  right: 30px;
  height: 20px;
  width: 20px;
  padding: 16px;
  border-radius: 50px;
  z-index: 3;
  box-shadow: 0px 4px 8px rgba(30, 30, 30, 0.1);
  svg {
    animation: sm-shake-animation linear 5s infinite;
    animation-delay: 2s;
  }
}

@keyframes sm-shake-animation {
  0% {
    transform: rotate(0) scale(1) skew(0.017rad);
  }
  88% {
    transform: rotate(0) scale(1) skew(0.017rad);
  }
  90% {
    transform: rotate(-0.3rad) scale(1) skew(0.017rad);
  }
  92% {
    transform: rotate(0.3rad) scale(1) skew(0.017rad);
  }
  94% {
    transform: rotate(-0.3rad) scale(1) skew(0.017rad);
  }
  96% {
    transform: rotate(0.3rad) scale(1) skew(0.017rad);
  }
  98% {
    transform: rotate(0) scale(1) skew(0.017rad);
  }
  100% {
    transform: rotate(0) scale(1) skew(0.017rad);
  }
}
