// CONTAINER
@mixin container {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

// ALIGN-DIV
@mixin align-div {
  margin-left: auto;
  margin-right: auto;
}

// ESPAÇAMENTOS
$spacing-1: 80px;
$spacing-2: 40px;
$spacing-3: 20px;

@mixin mbottom-1 {
  margin-bottom: $spacing-1;
}

@mixin mbottom-2 {
  margin-bottom: $spacing-2;
}

@mixin mbottom-3 {
  margin-bottom: $spacing-3;
}

// RESPONSIVIDADE
@mixin screen($tela) {
  @if $tela == "mobile" {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $tela == "tablet" {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $tela == "laptop" {
    @media (max-width: 1024px) {
      @content;
    }
  }
}
